@import "tailwindcss";

/* aqui será possível criar
estilizações que serão
utilizadas com frequência
usando o método "@apply"

outra alternativa é criar componentes
estilizados reutilizáveis (característica própria do react)
*/

@theme {
  --color-primary: #262626; /*preto/cinza escuro do background*/
  --color-secondary: #33cc33; /*Verde da tipografia/elementos diversos*/
  --font-display: "Inter", sans-serif;
  --shadow-cards: 0 10px 20px rgba(0,0,0,0.5);/*Sombra dos cards de login/resgister*/
}

/*Torna o background escuro(color_primary definida acima) em todo o projeto*/
body{
  background-color: var(--color-primary);
}